<template>
  <div class="small">
    <doughnut-chart :label="label" :answer-nb="answerNb" :colors="colors" :chart-data="datacollection" :options="options"></doughnut-chart>
  </div>
</template>

<script>
// LineChart.js
import DoughnutChart from './DoughnutChart'

export default {
  components: {
    DoughnutChart
  },
  data () {
    return {
      datacollection: null,
      options:{
        cutoutPercentage: 0
      }
    }
  },
  props: ['label', 'answer-nb', 'colors', 'chart-data'],
  mounted () {
    this.fillData()
  },
  watch : {
    answerNb : function (){
      this.fillData();
    }
  },
  methods: {
    fillData () {
      this.datacollection = {
        labels: this.label,

        datasets: [
          {
            backgroundColor: this.colors,
            data: this.chartData
          }
        ]
      }
      this.datacollection.datasets[0].data.forEach(function(part){
          // console.log(part)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .small {
    max-width: 600px;
    margin:  150px auto;
  }

</style>
