<template>

    <v-row>
      <h2 v-if="update === false">Création d'une nouvelle conférence</h2>
      <h2 v-if="update === true">Modification d'une conférence</h2>
      <div class="imput-field">
        <form action="#" method="POST" v-on:submit.prevent>
          <v-row>
            <div class="col s6 offset-s3">
              <div class="manager_info_form">
                <input type="text" name="conf_name" id="conf_name" placeholder="Nom de la conférence" v-model="info.title" @input='sendInfo()'>
                  <br>
                <label for="answer_time">Temps de réponse (en secondes) :</label>
                <input type="number" name="answer_time" id="answer_time" value="30" step="5" min="10" max="120" v-model="info.answer_time">
                  <br>
                <label for="no_time">Pas de durée limite</label>
                <input type="checkbox" name="no_time" id="no_time" @click='isChecked()' v-model="info.no_time">
                  <br>
                <label for="logo">Votre logo :</label>
                <input type="url" name="logo" id="logo" v-model="info.logo" @input='sendInfo()'>
                  <br>
                <label for="speaker">Nom du présentateur :</label>
                <input type="text" name="speaker" id="speaker" v-model="info.speaker" @input='sendInfo()'>
              </div>
            </div>
          </v-row>
        </form>
      </div>
    </v-row>

</template>

<script>

export default {
  name: 'ManagerInfoForm',
  data () {
    return {
      info : {
        title: '',
        answer_time: 0,
        no_time: '',
        logo: '',
        speaker: ''
      }
    }
  },
  props: ['update', 'conf'],

  methods : {
    sendInfo : function () {
      this.$emit('input', {
        title : this.info.title,
        logo : this.info.logo,
        speaker : this.info.speaker
      })
    }
  },

  watch : {
    conf : function() {
      for (const property in this.conf) {
        this.info[property] = this.conf[property];
      }

      this.sendInfo();
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.hidden {
  display: none;
}
</style>
