<template>
  <!-- <div class="hello">
    <DonutsChart :label="label" :answer-nb="nb" :colors="colors" :chart-data="nb"></DonutsChart>
  </div> -->
  <div class="manager_play">
    <div class="play_pending"  v-show="questionStatus == 'pending'">
      <button @click="currentQuestion++; getAnswers(); changeStatus('show')" class="deep-purple lighten-1 btn-large waves-effect waves-light">Afficher la question suivante</button>
      <br>
      <br>
      <br>
      <router-link :to="'/manager'" alt="Manager" class="deep-purple lighten-1 btn-large waves-effect waves-light">Quitter</router-link>
    </div>

    <div class="play_show"  v-show="questionStatus == 'show'">
      <h1 v-if='currentQuestion != 0'>{{conf.questions['question_'+currentQuestion]['title']}}</h1>

      <DonutsChart :label="label" :answer-nb="nb" :colors="colors" :chart-data="nb"></DonutsChart>

      <button v-if="question_count != totalNbQuestion" @click="resetAnswers(); changeStatus('pending')"
              class="next deep-purple lighten-1 btn-large waves-effect waves-light">Fermer la question</button>
      <button v-if="question_count == totalNbQuestion" @click="resetAnswers(); changeStatus('end')"
              class="next deep-purple lighten-1 btn-large waves-effect waves-light">Finir la conférence</button>

      <div class="room_id">#{{conf.room_id}}</div>
    </div>

    <div class="play_end"  v-show="questionStatus == 'end'">
      <h1>Merci d'avoir choisi Agorak pour votre conférence et à bientôt !</h1>
    </div>
  </div>
</template>

<script>
import Firebase from '@/assets/firebase'
import getUser from '../../assets/getUser.js'
import DonutsChart from '../chart/DonutsChart'
import { ObjectLength } from '../../assets/objCount'

Firebase;

export default {
  name: 'ManagerPlay',
  components: {
    DonutsChart
  },
  data () {
    return {
      confId: 1,
      conf: {},
      answers : [],
      label : [],
      nb : [],
      q_answers: [],
      colors : ["#336da8","#be3f4a", "#58E564", "#913EFF", "#FF7F32", "#FFF350"],
      questionStatus: "pending",
      totalNbQuestion : 0,
      question_count: 0,
      currentQuestion: 0
    }
  },

  methods : {

    getConference : function () {
      let conf = firebase.database().ref(this.user.uid+'/conferences/conference_'+ this.confId)
      let self = this; // Keep "this" of vue.js in an event listener

      conf.on('value', function(snapshot) {
        self.conf = snapshot.val();
        self.totalNbQuestion = ObjectLength(self.conf['questions'])
      })
    },

    setCurrent : function () {
      firebase.database().ref(this.user.uid+'/conferences/conference_'+ this.confId +'/actual_question').set(this.currentQuestion);
    },

    getAnswers : function () {
      let question = firebase.database().ref(this.user.uid+'/conferences/conference_'+ this.confId +'/questions/question_'+ this.currentQuestion);
      let self = this; // Keep "this" of vue.js in an event listener

      question.on('value', function(snapshot){
        let q = snapshot.val();
        if(q == undefined) {
          self.getAnswers();
        }

        if (q && self.question_count != self.totalNbQuestion) {
          let answers = firebase.database().ref(self.user.uid+'/conferences/conference_'+ self.confId +'/questions/question_'+ self.currentQuestion +'/users_answers')

          answers.on('value', function(snapshot) {
            let users = snapshot.val();
            self.resetAnswers();

            for (var key in users) {
              // skip loop if the property is from prototype
              if (!users.hasOwnProperty(key)) continue;

              var obj = users[key];

              self.q_answers.push(obj);
            }

            for (let index = 0; index < self.q_answers.length; index++) {
              const element = self.q_answers[index];
              self.getAnswersNb(element);
              self.setValue();
            }


          })

          self.question_count++;
        }
      });
    },

    getAnswersNb : function (answer) {
      let answerObject = {
        reponse : answer,
        nb : 1
      }

      let answersNb 	= this.answers.length;
      let inside 		= false;

      for (let index = 0; index < answersNb; index++) {
        const element = this.answers[index];

        if (element.reponse == answer){
          inside = true;
          element.nb++;
        }

      }

      if (!inside){
        this.answers.push(answerObject);
      } else {
        inside = false;
      };
    },

    setValue : function () {
      let labels  = [];
      let nbs     = [];

      for (let index = 0; index < this.answers.length; index++) {
        const el = this.answers[index];

        let setVal = el.reponse + " [" + el.nb + "]";

        labels.push(setVal);
        nbs.push(el.nb);
      }

      this.label  = labels;
      this.nb     = nbs;
    },

    changeStatus : function (status) {
      this.questionStatus = status;
    },

    resetAnswers : function () {
      this.answers = [];
      this.q_answers = [];
      this.nb = [];
      this.label = []
    }
  },

  created () {
    let self = this;
    this.confId = this.$route.params.id;

    firebase.auth().onAuthStateChanged(function() {
      let user = getUser();
      if (user) {
        self.user = user;
        if (firebase.database().ref(self.user.uid+'/conferences')) {
          self.getConference();
        }
      }else{
        self.user = "";
        self.rerouteHome();
      }
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

a {
  color: #42b983;
}

.small {
  margin: 0px auto!important;
}

.next{
  position: absolute;
  bottom: 10vh;
  left: 44%;
  right: 43%;
}

.room_id{
  position: absolute;
  bottom: 10vh;
  right: 10vw;
}
</style>
