<template>
  <div class="hello">
    <DonutsChart :label="label" :answer-nb="nb" :colors="colors" :chart-data="nb"></DonutsChart>
  </div>
</template>

<script>
import Firebase from '../assets/firebase'
import DonutsChart from './chart/DonutsChart'

Firebase;

export default {
  name: 'Manager',
  components: {
    DonutsChart
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      id: 1,
      answers : [],
      list : [],
      label : [],
      nb : [],
      colors : ["#336da8","#be3f4a", "#58E564", "#913EFF"]
    }
  },

  methods : {
    getAnswers : function (users){
      this.answers = [];
      this.list = [];

      for (var key in users) {
        // skip loop if the property is from prototype
        if (!users.hasOwnProperty(key)) continue;
      
        var obj = users[key];
        for (var prop in obj) {
          // skip loop if the property is from prototype
          if(!obj.hasOwnProperty(prop)) continue;
      
          // your code
          this.answers.push(obj[prop]);
        }
      }

      for (let index = 0; index < this.answers.length; index++) {
        const element = this.answers[index];

        this.getAnswersNb(element);
      }
    },

    getAnswersNb : function (answer) {
      let answerObject = {
        reponse : answer,
        nb : 1
      }

      let answersNb 	= this.list.length;
      let inside 		= false;

      for (let index = 0; index < answersNb; index++) {
        const element = this.list[index];

        if (element.reponse == answer){
          inside = true;
          element.nb++;
        }
        
      }
      
      if (!inside){
        this.list.push(answerObject);
      } else {
        inside = false;
      };
    },

    setValue : function () {
      let labels  = [];
      let nbs     = [];

      for (let index = 0; index < this.list.length; index++) {
        const el = this.list[index];

        let aze = el.reponse + " [" + el.nb + "]";
        
        labels.push(aze);
        nbs.push(el.nb);
      }

      this.label  = labels;
      this.nb     = nbs;
    }
  },

  created () {
      let getAnswer = firebase.database().ref('Question_'+this.id)
      let self = this; // Keep "this" of vue.js in an event listener
      
      getAnswer.on('value', function(snapshot) {
        self.getAnswers(snapshot.val());
        self.setValue();
      })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
