<template>
  <div class="manager">
     <div class="manager_new" v-if="page == 'new'">
      <manager-info-form v-model="info" :update="true" :conf="this.conf"></manager-info-form>
        <br>
      <button @click="addNewConf(); addInDB(); setPage('new_questions_list')" class="deep-purple lighten-1 btn-large waves-effect waves-light">Liste des questions</button>
    </div>

    <div class="manager_new_list" v-if="page == 'new_questions_list'">
      <h1> Liste des questions </h1>
      <div v-for="(quest, key) in conf.questions" :key="key">
        <div class="contour">
          <h4>
            {{ quest.title }}
            <button class="deep-purple lighten-1 btn-large waves-effect waves-light" @click="loadQuestion(quest.id); setPage('update_question')">Modifier</button>
            <button @click="removeQuestion(quest.id)" class="deep-purple lighten-1 btn-large waves-effect waves-light">Supprimer</button>
          </h4>
        </div>
      </div>
      <button @click="setPage('new_question')" class="btn-floating btn-large waves-effect waves-light deep-purple">+</button>
    </div>

    <div class="manager_new_question"  v-if="page == 'new_question'">
      <manager-question-form v-model="question" :update="false" :add="function(){addNewQuestion(false); addInDB(); setPage('new_questions_list');}"></manager-question-form>
    </div>

    <div class="manager_update_question"  v-if="page == 'update_question'">
      <manager-question-form v-model="question" :update="true" :quest="this.selectedQuestion" :add="function(){addNewQuestion(true); addInDB(); setPage('new_questions_list');}"></manager-question-form>
    </div>
  </div>
</template>

<script>
import Firebase from '../../assets/firebase'
import getUser from '../../assets/getUser.js'
import { ObjectLength } from '../../assets/objCount'

import ManagerInfoForm from './ManagerInfoForm'
import ManagerQuestionForm from './ManagerQuestionForm'

Firebase;

export default {
  name: 'ManagerUpdateForm',
  components: { ManagerInfoForm, ManagerQuestionForm },
  data () {
    return {
      page: "new",
      conf: {},
      confId : 0,
      info : {},
      questions: {},
      question_id : 1,
      question : {},
      answers: {},
      selectedQuestion: {}
    }
  },

  methods : {
    getNewQuestionId : function () {
      let user = firebase.database().ref(this.user.uid+"/conferences/conference_"+ this.confId +"/questions/");
      let quests = {};
      let list = [];
      let self = this; // Keep "this" of vue.js in an event listener

      user.on('value', function(snapshot) {
        if (snapshot.val() !== null) {
          quests = snapshot.val();
            for (let quest in quests) {
              if(quests.hasOwnProperty(quest)){
                let ids = quests[quest].id;
                list.push(ids);
              }
            }

            list.sort(self.sortId);
            self.question_id = list[list.length-1] + 1;
        }
      })
    },

    sortId : function (a,b){
      return a - b
    },

    getConference : function () {
      let conf = firebase.database().ref(this.user.uid+'/conferences/conference_'+ this.confId)
      let self = this; // Keep "this" of vue.js in an event listener

      conf.on('value', function(snapshot) {
        self.conf = snapshot.val();
      })

      if (self.conf.hasOwnProperty('questions')) {
        self.questions_count = ObjectLength(self.conf['questions'])
      }
    },

    setPage : function (string) {
      this.oldPage = this.page;
      this.page = string;
    },

    isChecked : function () {
      document.getElementById('no_time').onchange = function() {
        document.getElementById('answer_time').disabled = this.checked;
      };
    },

    addNewConf : function () {
      let title = this.info.title;
      let logo = this.info.logo;
      let speaker = this.info.speaker;
      let questions = {};

      if (this.conf.hasOwnProperty('questions')) {
        questions = this.conf.questions;
      }

      this.conf = {
        title : title,
        logo : logo,
        speaker : speaker,
        id : this.confId,

        actual_question : 0,
        room_id : null,

        questions : questions
      }
    },

    addNewQuestion : function (update) {
      let question_id = 1;

      if (update) {
        question_id = this.question.id;
      } else {
        this.getNewQuestionId();
        question_id = this.question_id;
      }

      let id = 0;
      let title = this.question.title;
      // let answers = {
      //   1 : this.question.answer_1,
      //   2 : this.question.answer_2,
      //   3 : this.question.answer_3,
      //   4 : this.question.answer_4,
      //   5 : this.question.answer_5,
      //   6 : this.question.answer_6,
      //   7 : this.question.answer_7,
      //   8 : this.question.answer_8,
      //   9 : this.question.answer_9,
      //   10 : this.question.answer_10
      // }

      for (let j = 0; j < 10; j++) {
        if (this.question["answer_"+j] != undefined) {
          if (this.question["answer_"+j] != "") {
            this.answers[j] = this.question['answer_'+j]
          }
        }
      }

      let q = this.conf['questions'];

      q['question_'+question_id] = {
        title : title,
        id : question_id,
        answers: this.answers
      }

      this.resetForm();
    },

    resetForm : function () {
      this.question = {};
      this.selectedQuestion = {};
      this.answers = {}
    },

    loadQuestion : function (id) {
      let quest = firebase.database().ref(this.user.uid+'/conferences/conference_'+ this.confId +'/questions/question_'+ id)
      let self = this; // Keep "this" of vue.js in an event listener

      quest.on('value', function(snapshot) {
        self.selectedQuestion = snapshot.val();
      })
    },

    removeQuestion : function (id) {
      let quest = firebase.database().ref(this.user.uid+'/conferences/conference_'+ this.confId +'/questions/question_'+ id);
      let self = this; // Keep "this" of vue.js in an event listener

      quest.remove();
    },

    addInDB : function () {
      firebase.database().ref(this.user.uid+'/conferences/conference_'+ this.confId).set(this.conf);
    }
  },

  created () {
    self = this;
    this.confId = this.$route.params.id;
    firebase.auth().onAuthStateChanged(function() {
      let user = getUser();
      if (user) {
        self.user = user;
        if (firebase.database().ref(self.user.uid+'/conferences')) {
          self.getConference();
        }
      }else{
        self.user = "";
        self.rerouteHome();
      }
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.hidden {
  display: none;
}
h4{
  font-size: 17px;
}
</style>
