<template>
  <div class="hello">
    <v-container>
      <div v-if="!$root.isLogged">
        <Login></Login>
        <p>OU</p>
        <Register></Register>
      </div>
      <div v-else>
        <button v-on:click="rerouteManager">Test</button>
      </div>
    </v-container>
  </div>
</template>

<script>
import Login from '@/components/Login';
import Register from '@/components/Register';

export default {
  name: 'Connexion',
  components : { 
    Login,Register
  },
  created () {
    self = this;
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        console.log("user logged")
        self.$root.isLogged = true;
        self.rerouteManager();
      } else {
        console.log("no user logged")
        self.$root.isLogged = false;
      }
    });
  },
  methods : {
    deco : function(){
      self = this;
      firebase.auth().signOut().then(function() {
        console.log("deconnected !");
        self.$root.isLogged   = false;
      }).catch(function(error) {
        console.log(error)
      });
    },
    rerouteManager : function(){
      this.$router.push({name:'Manager'});
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
a:active {
  color: #00838f;
}
 /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
}
/* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
</style>