<template>
  <div class="hello">
    <img src="../assets/logo.png" alt="logo" name="logo" class="logo">
    <h1>{{ msg }}</h1>
    <h1><router-link :to="'connexion'" alt="Connexion"><v-btn class="deep-purple lighten-1 btn-large waves-effect waves-light">J'Organise</v-btn></router-link></h1>
    <h5 v-show="!$root.isLogged"><router-link :to="'code'" alt="Code"><v-btn class="deep-purple lighten-1 waves-effect waves-light btn-medium">Je Participe</v-btn></router-link></h5>
  </div>
</template>

<script>

export default {
  name: 'Home',
  data () {
    return {
      msg  : 'Bienvenue sur Agorak !'
    }
  },
  created () {

  },
  methods : {

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2, h4 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
.btn-large{
  height: 85px;
  text-transform: capitalize;
  border-radius: 7px;
  font-size: 0.8em;  
}
.btn-medium{
  height: 50px; 
  text-transform: capitalize;
  border-radius: 7px;
  font-size: 0.7em;
}
.logo{
  max-width: 200px;
}
</style>