<template>
  <div class="hello">
    <v-row>
      <h2>Connexion</h2>
      <div class="imput-field">
        <form action="#" v-on:submit.prevent="loginUser()">
          <v-row>
            <div class="col s6 offset-s3">
              <p v-if="errorMessage != ''" class="error">{{ errorMessage }}</p>
              <input type="email" id="user_email" name="user_email" placeholder="Jhon.Doe@gmail.com" v-model="email">
              <label for="user_email"> Email </label>
              <input type="password" id="user_password" name="user_password" placeholder="" v-model="mdp">
              <label for="user_password"> Mot de passe </label>
            </div>
          </v-row>
          <v-row>
            <br>
            <v-btn type="submit" class="deep-purple lighten-1">Connexion</v-btn>
          </v-row>
        </form>
      </div> 
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      msg          : 'Welcome to Your Vue.js App',
      email        : '',
      mdp          : '',
      errorMessage : ''
    }
  },
  methods : {
    loginUser : function() {
      let self = this;
      firebase.auth().signInWithEmailAndPassword(self.email, self.mdp)
      .then ( res => self.errorMessage = 'login')
      .catch(function(error) {
        // Handle Errors here.
        var errorCode     = error.code;
        var errorMessage  = error.message;
        self.errorMessage = error.message;
      });
    },
    deco : function(){
      firebase.auth().signOut().then(function() {
          console.log("deconnected !")
        }).catch(function(error) {
          console.log(error)
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.error {
  color: red;
}
label {
  font-size: 1.5em
}
</style>