<template>
  <div class="manager">
    <h1>Espace Organisateur</h1>
    <div class="manager_home" :class="{ hidden: page != 'home'}">
      <div v-for="(conf, key) in conferences" :key="key">
        <div class="contour">
          <h4>
            {{ conf.title }}
            <router-link :to="{name: 'update', params: { id : conf.id}}" append><button class="deep-purple lighten-1 btn-large waves-effect waves-light">Modifier</button></router-link>
            <router-link :to="{name: 'play', params: { id : conf.id}}" append><button class="deep-purple lighten-1 btn-large waves-effect waves-light">Lancer</button></router-link>
            <button @click="removeConf(conf.id)" class="deep-purple lighten-1 btn-large waves-effect waves-light">Supprimer</button>
          </h4>
        </div>
      </div>
      <router-link :to="{name: 'new'}" append><button class="deep-purple lighten-1 btn-large waves-effect waves-light">Nouvelle Conférence</button></router-link>
    </div>
  </div>
</template>

<script>
import Firebase from '../assets/firebase'
import getUser from '../assets/getUser.js'
import ManagerNewForm from './manager/ManagerNewForm'

Firebase;

export default {
  name: 'Manager',
  components: { ManagerNewForm },
  data () {
    return {
      user: "",
      page: 'home',
      oldPage: '',
      conferences: {},
      confNb: 0,
      nextConfNb: this.confNb + 1
    }
  },

  methods : {
    getConferences : function () {

      let conferences = firebase.database().ref(this.user.uid+'/conferences').orderByChild('id')
      let self = this; // Keep "this" of vue.js in an event listener

      conferences.on('value', function(snapshot) {
        self.conferences = snapshot.val();
        for (const conf in self.conferences) {
          self.confNb++;
        }
      })
    },

    getQuestions : function () {

      let questions = firebase.database().ref(this.user.uid+'/conferences/conference_'+ this.thisNb +'/questions')
      let self = this; // Keep "this" of vue.js in an event listener

      questions.on('value', function(snapshot) {
        self.questions = snapshot.val();
      })
    },

    setPage : function (string) {
      this.oldPage = this.page;
      this.page = string;
    },

    removeConf : function (id) {
      let conference = firebase.database().ref(this.user.uid+'/conferences/conference_'+id);
      let self = this; // Keep "this" of vue.js in an event listener

      conference.remove();
    },

    deco : function(){
      self = this;
      firebase.auth().signOut().then(function() {
        console.log("deconnected !");
        self.$root.isLogged   = false;
      }).catch(function(error) {
        console.log(error)
      });
    },

    rerouteHome : function(){
      this.$router.push({name:'Home'});
    },

    rerouteManager : function(){
      this.$router.push({name:'Manager'});
    }
  },

  watch : {
    confNb : function (){
      this.nextConfNb = this.confNb + 1
    }
  },

  created () {
    //check the authentification
    self = this;
    firebase.auth().onAuthStateChanged(function() {
      let user = getUser();
      if (user) {
        self.user = user;
        self.$root.isLogged = true;
        if (firebase.database().ref(self.user.uid+'/conferences')) {
          self.getConferences();
        }
      }else{
        self.user = "";
        self.$root.isLogged = false;
        self.rerouteHome();
      }
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
h4{
  font-size: 18px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.hidden {
  display: none;
}
.contour {
  border: 5px solid deep-purple;
}
</style>
