<template>
  <div class="hello">
    <v-nav nav-class="deep-purple lighten-1">
      <ul id="nav-mobile" class="left">
        <li v-show="$route.name!='Home'"><router-link :to="'/'" alt="Home">Accueil</router-link></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li v-show="!$root.isLogged && $route.name!='User'"><router-link :to="'/connexion'" alt="Connexion">Connexion</router-link></li>
        <li v-show="$route.name!='Manager' && $root.isLogged"><router-link :to="'/manager'" alt="Manager">Conférences</router-link></li>
        <li v-show="!$root.isLogged && $route.name!='Code' && $route.name!='User'"><router-link :to="'/code'" alt="Code">Participer</router-link></li>
        <li v-show="$root.isLogged"><button v-on:click="deco" class="red lighten-2 waves-effect waves-light btn-large deconnexion">Déconnexion</button></li>
      </ul>
    </v-nav>
  </div>
</template>

<script>
export default {
  name: 'NavAgorak',
  methods : {
    deco : function(){
      self = this;
      firebase.auth().signOut().then(function() {
        console.log("deconnected !");
        self.$root.isLogged = false;
      }).catch(function(error) {
        console.log(error)
      });
    },
    rerouteHome : function(){
      this.$router.push({name:'Home'});
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hello {
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 2%;
  text-align: left;
}
.brand-logo{
  width: 64px;
}
.deconnexion{
  font-size: 12px;
}
</style>