<template>
  <div class="hello">
    <v-row>
      <h2>Inscription</h2>
      <div class="imput-field">
        <form action="#" v-on:submit.prevent="registerUser()"> 
          <v-row>
            <div class="col s6 offset-s3">
              <p v-if="errorMessage != ''" class="error">{{ errorMessage }}</p>
              <input type="email" name="user_email" placeholder="Jhon.Doe@gmail.com" v-model="email">
              <label for="user_email">Email</label>
              <input type="email" name="confirm_email" placeholder="" v-model="emailCheck">
              <label for="confirm_email">Confirmation Email</label>
              <input type="password" name="user_password" placeholder="" v-model="mdp">
              <label for="user_password">Mot de Passe</label>
            </div>
          </v-row>
          <v-row>
            <br>
            <v-btn type="submit" class="deep-purple lighten-1">S'inscrire</v-btn>
          </v-row>
        </form> 
      </div>
    </v-row>
  </div>
</template>

<script>
import passwordHash from 'password-hash';

export default {
  name: 'Register',
  data () {
    return {
      msg          : 'Welcome to Your Vue.js App',
      mdp          : '',
      email        : '',
      emailCheck   : '',
      errorMessage : ''
    }
  },
  methods : {
    registerUser : function(email, password){
      let self = this;
      //check the email and confirmation email
      if (this.email === this.emailCheck && this.email != '') {
        //check the password have a length > 3
        if (this.mdp.length>3) {
          //add the user
          firebase.auth().createUserWithEmailAndPassword(self.email, self.mdp)
          .then(function() {
            console.log('success');
            //if the promise succed
            self.errorMessage = '';
            //redirection
          })
          .catch(function(error){
            // Handle Errors here.
            var errorCode     = error.code;
            var errorMessage  = error.message;
            self.errorMessage = error.message;
          })
        }else{
        this.errorMessage     = "The password have not enought characters"
        }
      }else{
        this.errorMessage     = "Email and Confirmation are not the same"
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.error {
  color: red;
}
label {
  font-size: 1.5em
}
</style>