<template>
  <div id="app">
    <NavAgorak></NavAgorak>
    <router-view/>
  </div>
</template>

<script>
import Vue from "vue"
import Materials from "vue-materials"
Vue.use(Materials)
import NavAgorak from '@/components/NavAgorak';

export default {
  name: 'app',
  components : {
    NavAgorak
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>